html {
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: beige;
}

body {
    font-family: Georgia;
    font-size: 20px;
    padding: 10px;
    border: solid gray;
    border-radius: 20px;
    width: 650px;
    background-color: white;
    margin: 0; 
}


body, div, p, pre {
    background-color: white;
}


button {
    width: 200px;
    height: 50px;
    background-color: aquamarine;
    border-radius: 20px;  
}


.guziki {
    margin-left: 120px;
    display:flex;
}


.zmiana1 {
    text-align: center;
}


p, .koszt {
    width: 300px;
    display: inline;
}


button:hover {
    background-color: cadetblue;
}


div[id="licznik"],div[id="licznikpracownikow"],div[id="zarobki"], button[id="niewidzialnyprzycisk"] {
    display: inline;
}
button[id="niewidzialnyprzycisk"]
{
    visibility: hidden;;
}
p
{
    font-size: 20px;
}
.statystyki
{
    margin-left: 20px;
    text-align: center;
    font-size: 15px;
    border: black solid 2px;
    border-radius: 10px;
    height: 20px;
    width: 600px;
    font-style: italic;
}


